altair==5.3.0
annotated-types==0.7.0
anyio==3.6.2
appnope==0.1.3
asn1crypto==1.5.1
asttokens==2.4.0
attrs==23.2.0
aws-psycopg2==1.3.8
awscrt==0.16.0
awsiotsdk==1.0.0.dev0
backcall==0.2.0
blinker==1.8.2
boto3==1.28.10
botocore==1.31.10
cachetools==5.3.3
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
cloudpickle==3.0.0
colored==1.4.4
contourpy==1.0.7
cryptography==39.0.0
cycler==0.11.0
decorator==5.1.1
deprecation==2.1.0
distro==1.9.0
docopt==0.6.2
executing==1.2.0
filelock==3.12.2
Flask==3.0.3
fonttools==4.38.0
gitdb==4.0.11
GitPython==3.1.43
graphql-core==3.2.3
grip==4.6.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.4
ijson==3.2.3
ipython==8.15.0
itsdangerous==2.2.0
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.4
libcst==0.4.9
loky==3.4.1
lxml==4.9.2
Markdown==3.6
markdown-it-py==2.1.0
markdown2==2.5.0
MarkupSafe==2.1.3
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
mypy-extensions==1.0.0
newsapi-python==0.2.6
numpy==1.26.4
openai==1.35.3
opencv-python==4.9.0.80
oscrypto==1.3.0
packaging==23.0
paho-mqtt==1.6.1
pandas==1.5.3
parso==0.8.3
path-and-address==2.0.1
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==7.1.1
Pillow==9.4.0
prompt-toolkit==3.0.39
protobuf==4.25.3
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.9.1
pygame==2.3.0
Pygments==2.14.0
PyJWT==2.7.0
PyOpenGL==3.1.7
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.7.1
PyYAML==6.0
referencing==0.35.1
requests==2.28.2
rich==13.3.1
rpds-py==0.18.1
s3transfer==0.6.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.0.4
sortedcontainers==2.4.0
sounddevice==0.4.7
stack-data==0.6.2
starlette==0.23.1
strawberry-graphql==0.155.3
streamlit==1.35.0
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
tenacity==8.4.1
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.10.0
typing-inspect==0.8.0
typing_extensions==4.12.2
urllib3==1.26.14
uvicorn==0.20.0
wcwidth==0.2.6
Werkzeug==3.0.3
wrapt==1.16.0
